@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Poppins;
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Montserrat", sans-serif;
}


/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo img{
    width: 206px;
}

.nav{
    display:flex;
    padding-left: 40px;
    gap:40px;
    font-weight:600;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-size: 16px;
}

.nav p{
    cursor:pointer;
}

.design{
    color:#FA4A0C;
}

/* HERO */
.hero{
    width: 100%;
    background:url("./images/bg.png") center/cover no-repeat;
    text-align:center;
    color:white;
    padding:120px 20px;
}

.hero-text{
    padding-bottom: 40px;
}

.hero-text h1{
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2;
    font-family: "Poppins", sans-serif;
    width:937px;
    margin:auto;
    font-size:58px;
    line-height:1.2;
}

.hero-text p{
    width: 551px;
    margin-left: 445px;
    margin-top:20px;
    font-size:24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;

}

.hero-text h3 {
    width: 119px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 600px;
}

/* STORE BUTTONS */
.store{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
    padding-bottom: 50px;
}

.playstore{
    width: 236px;
    height: 68px;
    padding:16px 40px;
    border-radius:30px;
    gap: 34px;
}

.appstore {
    width: 236px;
    height: 68px;
    padding:16px 40px;
    border-radius:30px;
}


.playstore{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    font-weight: 700;
    background:#FA4A0C;
    color:white;
}

.appstore{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    font-weight: 700;
    border:1px solid white;
    color:white;
}

/* PHONES */
.mobile-phone img {
    width: 587px;
    justify-content: center;
    align-items: center;
    margin-top: -280px;
    margin-left: 280px;
}
/* HR */
.hr {
    width: 854px;
    border: 3px solid #E4E4E4;
    margin-top: 128.91px;
    margin-left: 280px;

}
/* HOW THE APP WORKS */
.about-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72.09px;
}

.about-app h3 {
    width: 425px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1;
}
/* CREATE ACCOUNT */

.create-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -50px;

}

.create-account img {
    margin-left: 70px;
}

.create-account-text {
    gap: 70px;
    padding-left: 72px;
    margin-right: 70px;
}
.create-account-text h3 {
    width: 232px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1;color: #FA4A0C;
    padding-bottom: 10px;
}

.create-account-text h2 {
    width: 561px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.create-account-text p {
    width: 467px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* VARIETIES */
.varieties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    

}

.varieties-text {
    margin-left: 210px;
    
}


.varieties-text h3 {
    color: #FA4A0C;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.varieties-text h2 {
    width: 480px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.varieties-text p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* CONTAINER */
.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./images/background.png);
}

.container-text {
    text-align: center;
}

.container-text h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: white;
    padding: 10px 158px;
}

.container-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: white;
    padding: 10px 158px;
}

.container-store {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    border-radius: 10px;
}

.playstore {
    width: 236px;
    height: 68px;
    padding: 20px 60px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 700;
    background: #FA4A0C;
    color: white;
}
/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 38px 115px;
}
.footer h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5c5c5c;
}

/* SECTION2 CONTAINER */
.container-new {
    display: none;
    max-width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #252B42;
}
.container-new h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: black;
    padding: 10px 158px;
}
.container-new p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: black;
    padding: 10px 158px;
}
.container-new-buttons{
    width: 400px;
    height: 78px;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: white;
    
}
.new-btn1{
    width: 120px;
    height: 35px;
    background: #FA4A0C;
    border-radius: 10px;
    border: 1px solid #FA4A0C;
}
.new-btn2{
    width: 120px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    
}

@media screen and (max-width:414px){
.header{
    width: 414px;
    padding: 16px;
    justify-content: start;
    gap: 100px;
}

.nav{
    display:none;
}
.hero{
    width: 414px;
    background-image: none;
    background-color: #FAFAFA;
}
.hero-text h3{
    margin:0 auto;
    font-size:14px;
    padding:6px 14px;
    background:#f2f2f2;
    border-radius:6px;
    color:black;
    width:auto;
    display:inline-block;
}
.hero-text h1{
    width:100%;
    font-size:28px;
    line-height:36px;
    margin-top:15px;
    color: black;
}
.hero-text p{
    width:100%;
    font-size:16px;
    margin:15px 0 20px;
    color: black;
}
.store{

    flex-direction:column;
    align-items:center;
    gap:15px;
}
.playstore{
    width:220px;
    height:50px;
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.appstore{
    width:220px;
    height:50px;
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-color: #FA4A0C;
    color: #FA4A0C;
}
.mobile-phone{
    display:flex;
    justify-content:center;
   
}
.mobile-phone img{
    position:relative;
    width:260px;
    margin: -200px;

}
.hr{
    display: none;
}
.about-app h3{
    font-size:20px;
    text-align:center;
    padding-top: 100px;
}

.create-account{
    flex-direction: column-reverse;
    align-items:center;
    gap:20px;
    margin-top: 20px;
}

.create-account img{
    width: 100%;
    max-width: 670px;
    margin:0;
    text-align: center;
    padding-left: 10px;
}
.create-account-text{
    max-width: 100%;
    width: 357px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;  
}
.create-account-text h3{
    width: 357px;
    font-size:16px;
    color:#FA4A0C;
    padding: 27px 0 10px;
}

.create-account-text h2{
    width: 337px;
    font-size:40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding: 10px 0;
}

.create-account-text p{
    width: 337px;
    font-weight: 500;
    font-size:24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color:#737373;
    padding: 10px 0;
}

.varieties{
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin-top: 20px;
    
}
.varieties-text{
    max-width: 100%;
    width: 357px;
    margin-left: -40px;
    text-align:center;
}
.varieties-text h3{
    width: 299px;
    font-size:24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding-left: 20px;
    color:#FA4A0C;
    
}
.varieties-text h2{
    width: 327px;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    
}
.varieties-text p{
    width: 257px;
    font-weight: 500;
    font-size:24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    margin: auto;
    color:#737373;
       
}
.varieties img{
    width: 100%;
    max-width: 670px;
    margin:0;
    text-align: center;
    padding-left: 0px;
}
.container{
    display: none;
}
.container-new {
    width: 418px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252B42;
}
.container-new h2{
    width: Hug(310px);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: white;
    padding-left: 44px;
    padding-right: 44px;
}
.container-new p{
    width: Hug(245px);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: white;
    padding-left: 44px;
    padding-right: 44px;
}
.container-new-buttons{
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
}
.container-new-buttons button {
    width: 220px;
    padding: 10px 10px;
}
.buy-now {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
    font-weight: 700;
    background:#FA4A0C;
    border: 1px solid #FA4A0C;
    color:white;
    border-radius: 10px;
    padding: 20px;
}
.try-for-free {
    width: 186px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
   
    
}

.footer{
    width: 414px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;}

.footer-logo{
    display: none;
}
}